.container{
  margin: 0 50px;
}

.navbar{
   display: flex;
   flex: 1;
   padding: 20px 0;

}
.left{
	display: flex;
   	flex: 1;
	width: 50%;
}
.right {
	display: flex;
   	flex: 1;
	justify-content: flex-end;
	width: 50%;

}
.logo {
	display: inline-block;
	 width: 50%;
    text-align: center;
}
.link {
	color:#333;	
	display: flex;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	width: auto;
}
.nav-link{
	padding-left:20px;
}

.content-container{
  background-color: #FFFFFF;
}